/* Import the font faces */
@font-face {
    font-family: 'Nunito Sans';
    src: url('../Font/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Apply fonts to the whole page and headings */
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem; /* Site-wide font size using relative unit (1rem = 10px)*/
    line-height: 1.6; /* Suitable line-height for body text */
    letter-spacing: 0.5px; /* Add letter-spacing to body text */
    word-spacing: 2px; /* Add word-spacing to body text */
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2rem; /* Heading font size using relative unit */
    letter-spacing: 1px; /* Add letter-spacing to headings */
}

section p:first-of-type {
    text-indent: 20px; /* Add text-indent to the first paragraph after each heading in section */
}

/* Link styling */
a {
    color: #a66; /* Default link color */
    text-decoration: underline; /* Underline links by default */
}

a:hover,
a:focus {
    text-decoration: none; /* Remove underline on hover and focus */
    outline: none; /* Remove default focus outline */
}

a:active {
    color: #5a5a5a; /* Change color for active state */
}

/* External link styling */
/* External link styling */
a[href*="http"] {
    padding-right: 10px;
    background: url('../Image/icons8-external-link-30.png') no-repeat 100% 0;
}


/* Layout */
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */
header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

nav ul {
    padding-left: 0;
    margin-top: 0.8rem;
  }
  
  nav li {
    list-style-type: none;
    margin-bottom: 2rem;
  }
  
  nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #a66;
  }
  
  nav li a:focus, nav li a:hover {
    color: white;
    background: #a66;
  }
  
  nav li a:active {
    color: white;
    background: black;
  }
